body{
    background: #1C0623;
}

@media (min-width: 100px) and (max-width: 990px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 991px) { 
    .movil {
        display: none;
    }
}

/**Vista Escritorio**/
.logo{
    height:auto;
    width: 250px;
    transition: 0.2s;
    padding: 5px 10px;
    border-radius: 2px;
}

.logo:hover{
    background: #33123c;
    box-shadow: 0 0 0 10px #33123c, 0 0 30px #33123c, 0 0 80px #33123c;
}

.logo2{
    color: antiquewhite;
    text-align: left;
}

.botones{
    color: rgb(196, 172, 20);
    text-decoration: none;
    font-family: roboto;
    font-size: 18px;
    padding: 5px 10px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 2px;
}

.botones:hover{
    background: #33123c;
    box-shadow: 0 0 0 10px #33123c, 0 0 30px #33123c, 0 0 80px #33123c;
}

.banner{
    height:auto;
    width: 250px;
    padding: 5px 10px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 2px;
}

.banner:hover{
    background: #33123c;
    box-shadow: 0 0 0 10px #33123c, 0 0 30px #33123c, 0 0 80px #33123c;
}

.nombre{
    color: #ececec;
    text-align: center;
    text-decoration: none;
}

.icono{
    height: 100px;
    width: 100px;
    padding: 5px 10px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 10px;
}

.icono:hover{
    background: #33123c;
    box-shadow: 0 0 0 10px #33123c, 0 0 30px #33123c, 0 0 80px #33123c;
}

.nombre2{
    color: antiquewhite;
    text-align: center;
}

.titulo{
    color: rgb(164, 114, 211);
    font-size: 20px;
    text-align: center;
}

.descripcion{
color: rgba(208, 214, 181, 0.807);
font-size: 20px;
font-family: 'Cambria';
}

/**Vista Movil**/
.logom{
    height:auto;
    width: 400px;
}

.logo2m{
    color: antiquewhite;
    text-align: center;
    font-size: 25px;
}

.botonesm{
    color:  rgb(196, 172, 20);
    text-decoration: none;
    font-size: 40px;
}

.bannerm{
     height: auto;
     width: 480px;
}

.nombrem{
    color: #ececec;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

.iconom{
    height: auto;
    width: 270px;
}

.nombre2m{
    color: antiquewhite;
    text-align: center;
    font-size: 30px;
}

.titulom{
    color: rgb(164, 114, 211);
    font-size: 35px;
    text-align: center;
}

.descripcionm{
    color: rgba(208, 214, 181, 0.807);
    font-size:40px;
    font-family: 'Cambria';
}

    

    

    



