body{
    background: #1C0623;
}

@media (min-width: 100px) and (max-width: 990px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 991px) { 
    .movil {
        display: none;
    }
}

/**Vista Escritorio**/

.title{
    font-family:'Segoe UI';
    font-size: 30px;
    color: #c59867;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    border: 10px solid #000;
    margin: auto;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
}

.logo{
    text-align: center;
    height:auto;
    width:21vmax;
    transition: 0.2s;
    padding: 5px 10px;
    border-radius: 2px;
}

.logo:hover{
    background: #33123c;
    box-shadow: 0 0 0 10px #33123c, 0 0 30px #33123c, 0 0 80px #33123c;
}

.logo2{
    color: antiquewhite;
    text-align: left;
}

.botones{
    color: rgb(196, 172, 20);
    text-decoration: none;
    font-family: roboto;
    font-size: 2vmax;
    padding: 5px 10px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 2px;
}

.botones:hover{
    background: #33123c;
    box-shadow: 0 0 0 10px #33123c, 0 0 30px #33123c, 0 0 80px #33123c;
}

.banner{
    height:auto;
    width: 250px;
    padding: 5px 10px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 2px;
}

.banner:hover{
    background: #33123c;
    box-shadow: 0 0 0 10px #33123c, 0 0 30px #33123c, 0 0 80px #33123c;
}

.nombre{
    color: #ececec;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

.nombre li{
    list-style: none;
}

.icono{
    height: 100px;
    width: 100px;
    padding: 5px 10px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 10px;
}

.icono:hover{
    background: #33123c;
    box-shadow: 0 0 0 10px #33123c, 0 0 30px #33123c, 0 0 80px #33123c;
}

.nombre2{
    color: antiquewhite;
    text-align: center;
}

.titulo{
    color: rgb(164, 114, 211);
    font-size: 20px;
    text-align: center;
}

.descripcion{
color: rgba(208, 214, 181, 0.807);
font-size: 20px;
font-family: 'Cambria';
}

/**Vista Movil**/
.logom{
    height:auto;
    width: 400px;
}

.logo2m{
    color: antiquewhite;
    text-align: center;
    font-size: 25px;
}

.botonesm{
    color:  rgb(196, 172, 20);
    text-decoration: none;
    font-size: 40px;
}
/**Slider Frame Escritorio y Movil**/

.bannerframe{
    height: auto;
    width: 45vmax;
    margin: 50px auto 0;
    overflow: hidden;
}


.bannerframe li{
    color: #ececec;
    text-align: center;
    font-size: 30px;

    list-style: none;
    width: 100%;
}

.bannerframe img{
    width: 96%;

}

.slider-frame{
    height: auto;
    width: 45vmax;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-frame ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: slide 8s infinite ease-in-out;
}

.slider-frame li{
    color: #ececec;
    text-align: center;
    font-size: 30px;

    list-style: none;
    width: 100%;
}

.slider-frame img{
    width: 100%;

}


@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}

.bannerm{
    height: auto;
    width: 480px;
}

.nombrem{
    color: #dfe1c8ce;
    text-align: center;
    font-size: 40px;
}

.nombrem li{
    list-style: none;
}

.iconom{
    height: auto;
    width: 270px;
}

.nombre2m{
    color: antiquewhite;
    text-align: center;
    font-size: 30px;
}

.titulom{
    color: rgb(164, 114, 211);
    font-size: 35px;
    text-align: center;
}

.descripcionm{
    color: rgba(208, 214, 181, 0.807);
    font-size:40px;
    font-family: 'Cambria';
}

    

    

    



